*{
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background: linear-gradient(#73ff00,#c100fc);
    transform: translate(-490px,-150px);

}
.container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(#c100fc,#fc4700);
    transform: translate(490px,170px);

}
.ball-1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #04f504;
    transform: translate(-250px,200px);
    position: absolute;

}
.ball-2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #08e2ff;
    transform: translate(-10px,-220px);
    position: absolute;

}
.ball-3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #ffc404;
    transform: translate(150px,250px);
    position: absolute;

}
.box{
    height: 86vh;
    width: 75%;
    padding: 0,20px;
    background: rgba(255, 255,255,0..1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}
.nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  auto;

    padding: 20px;
}
.li1{
    display: inline-block;
    padding: 0 20px;
}
.a1{
    font-size: 13px;
    cursor: pointer;
}
.a1:hover{
    color:#ffc404
}
.name{
    font-size: 35px;
    color: #000;
    margin-top: 10px;
    margin-left:20px;
}
.contains{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: 8%;
    padding-left: 80px;
}
.section-1{
    position: absolute;
    margin-top: 70px;
}
.section-1 h1{
    font-size: 75px;
}
.section-1 h3{
    font-size: 36px;
}
.section-1 p{
    margin-top: 5px;
}
.button{
    margin-top: 50px;
}
.button a{
    padding: 10px 20px;
    border: 1px solid #fff;
    cursor: pointer ;
}
.button a:hover{
    background:#fff;
    color:#000:
}
.section-2 img{
    
    transform:translateX(380px);
}
span{
    color:#fc002e;
    font-size: 40px;
}
